.back{
    position: relative;
     img{
        width:100%;
        height:150px;
        object-fit:cover;
    }
}
h1{
    position: absolute;
    font-size: 50px;
    color:white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}
