.aside-heading {
    font-weight: bold;
    text-decoration: underline;
}

.aside-image {
    height: 100px;
    object-fit: cover;
}

.detail-image {
    height: 550px;
    object-fit: cover;
}

.news-content p {
    line-height: 2.4;
}

.aside-title {
    border-bottom: 1px solid #999;
}

.comment-title {
    border-bottom: 1px solid #999;
}

.comment-list {
    list-style-type: none;
}

.comment-list-item {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    &:first-child {
        border-top: none;
    }

    &:last-child {
        border-bottom: none;
    }
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


.comment-delete:hover {
    text-decoration: underline;
}