.favorite-header {
        font-weight: 700;
        font-size: 2.2rem; 
        text-decoration: none;
        margin-left: 24px;

        &::before {
            content:"";
            display:inline-block;
            width:12px;
            height:40px;
            background-color:#052962;
            top:-2px;
        }
}

.favorite-list {

    .favorite-name {
        font-size: 1.2rem;
        margin-left: 60px;
        color: #000;
        display: inline-block;
        width: 150px;
        text-decoration: none;

        &:first-of-type {
            margin-left: 60px;
        }

        &:hover {
            text-decoration: underline;
            color: red;
        }
    }
}

.favorite-edit {
    font-size: 1.2rem;
    margin-left: 60px;
    color: #000;
}

.favorite-icon {
    margin-left: -26px;
}
