.favorite-header {

    &::before,
    &::after {
        content: "";
        height: 3px;
        flex-grow: 1;
        background-color: #ffff44;
    }

    &::before {
        margin-right: 1rem;
    }

    &::after {
        margin-left: 1rem;
    }
}

.favorite-list{

    .favorite-name {
        font-size: 1.2rem;
        margin-left: 60px;
        color: #000;

        &:first-of-type {
            margin-left: 0;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.favorite-edit {
    font-size: 1.2rem;
    margin-left: 60px;
    color: #000;
}
