/* ----------------------------------------------------------
color setting
---------------------------------------------------------- */
.back-blue {
    background-color: #052962;
}

.back-gray {
    background-color: #D9D9D9;
}

.text-blue {
    color: #052962;
}

.text-gray {
    color: #D9D9D9;
}

.border-gray {
    border-color: #D9D9D9;
}

/* ----------------------------------------------------------
footer styling
---------------------------------------------------------- */

.footer-content {
    .footer-list {
        list-style: none;
        padding: 0;
    }
    .footer-list-title {
        font-size: 1.4rem;
    }
    .footer-list-item {
        font-size: 1.0rem;
        text-decoration: none;

        &:hover {
            opacity: 0.7;
            text-decoration: underline;
        }
    }
}

.sns-logo {
    font-size: 1.8rem;
}
