/* ----------------------------------------------------------
color setting
---------------------------------------------------------- */
.back-blue {
    background-color: #052962;
}

.back-gray {
    background-color: #D9D9D9;
}

.text-blue {
    color: #052962;
}

.text-gray {
    color: #D9D9D9;
}

.border-gray {
    border-color: #D9D9D9;
}

/* ----------------------------------------------------------
footer styling
---------------------------------------------------------- */
footer {
    position: relative;
    bottom: 0;
}

.footer-content {
    .footer-list {
        list-style: none;
        padding: 0;
    }
    .footer-list-title {
        font-size: 1.4rem;
    }
    .footer-list-item {
        font-size: 1.0rem;
        text-decoration: none;
        &:hover {
            opacity: 0.7;
            text-decoration: underline;
        }
    }
}

.footer-content-center{
    width: auto !important;
}

.footer-news-hr{
    display: block; height: 1px;
    border: 0; border-top: 1.5px solid #81a6e2;
    margin: 1em 0; padding: 0;
}

.sns-logo {
    font-size: 1.8rem;
    text-decoration: none;
}

@media only screen and (max-width: 991px) {
    .footer-content-center{
        margin: 0 !important;
        margin-bottom:10px;
    }
}