.news-list {

    &-image {
        height: 140px;
        object-fit: cover;
    }

    &-heading {
        font-size: 1.2rem;
        height: 46px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2;
        -webkit-box-orient: vertical;
        &:hover{
            color: red;
        }

        &-link {
            text-decoration: none;
            color: #000;
            &:hover{
                color: red;
            }
        }
    }

    &-description {
        font-size: 0.9rem;
        height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.reaction, .comment {
    margin-right: 12px;
}

.reaction i, .bookmark i {
    cursor: pointer;
}

@media (max-width: 992px) {
    .news-list {

        &-image {
            height: 220px;
        }

        &-heading {
            font-size: 1.1rem;
        }

        &-description {
            font-size: 1.0rem;
        }
    }

    .reaction, .bookmark, .comment {
        font-size: 1.1rem;
    }

    .reaction, .comment {
        margin-right: 16px;
    }
}

@media (max-width: 768px) {
    .news-list {
        &-heading {
            height: auto;
            display: block;
        }
        &-description {
            height: auto;
            display: block;
        }
    }
}

@media (max-width: 576px) {
    .reaction, .bookmark, .comment {
        font-size: 1.2rem;
    }

    .reaction, .comment {
        margin-right: 20px;
    }
}
