.country-section {
    margin-bottom: 60px;
    padding-bottom: 30px;

    &:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &-heading {
        font-size: 2.2rem;
        text-align: left;
        text-decoration: none;
        position: relative;
        margin-left: 24px;

        &::before {
            content:"";
            display:inline-block;
            width:12px;
            height:40px;
            background-color:#052962;
            position:absolute;
            top:-2px;
            left: -24px;
        }
    }
}

.top-news {
    &-heading {
        font-size: 1.7rem;
        //This below part is to hold sentences when there are many sentences//
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3;
        -webkit-box-orient: vertical;
        & a{
            text-decoration: none;
            color: #000;
            &:hover {
                color: red;
            }
        }
    }

    &-description {
        font-size: 1.1rem;
        }

    &-image {
        height: 260px;
        object-fit: cover;
    }
}

.aside {
    &-title {
        border-bottom: 1px solid #999;
    }
    &-news {
        &-image {
            width: 35%;
            margin-right: 12px;
            @media (max-width: 1200px) {
                display: none;
            }
            & img {
                height: 80px;
                object-fit: cover;
            }
        }
        &-content {
            width: 65%;
            @media (max-width: 1200px) {
                width: 100%;
            }
            &-heading {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: 768px) {
    .top-news {
        &-description {
        font-size: 1.0rem;
        overflow: hidden;
        text-align: justify;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7; /* number of lines to show */
                line-clamp: 7;
        -webkit-box-orient: vertical;
        }
    }
}

@media (max-width: 992px) {
    .top-news {

        &-heading {
            font-size: 1.2rem;
        }

        &-description {
            font-size: 1.0rem;
        }
        &-image {
            height: 250px;
        }
    }
}

@media (max-width: 768px) {
    .top-news {
        &-image {
            height: 220px;
        }

        &-heading {
            font-size: 1.0rem;
        }
    }
}
<<<<<<< HEAD


.container-top-news {
    position: relative;
    text-align: center;
    background-color: #000;
    & img{
        opacity:0.7;
        position: relative;
    }
}

.centered {
    position: absolute;
    text-shadow:2px 1px 2px black;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    & h1{
        font-size: 50px;
        white-space: nowrap;
    }
}
