.country-section {
    border-bottom: 1px solid #999;
    margin-bottom: 30px;
    padding-bottom: 30px;

    &:nth-child(5) {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.top-news {

    .top-heading {
        font-size: 1.7rem;
    }

    .top-description {
        font-size: 1.1rem;
    }
    .top-image {
        height: 260px;
        object-fit: cover;
    }
}

.aside-heading {
    font-weight: bold;
    text-decoration: underline;
}

.aside-title {
    border-bottom: 1px solid #999;
}

@media (max-width: 992px) {
    .top-news {

        .top-heading {
            font-size: 1.2rem;
        }

        .top-description {
            font-size: 1.0rem;
        }
        .top-image {
            height: 250px;
        }
    }
}

@media (max-width: 768px) {
    .top-news {
        .top-image {
            height: 220px;
        }

        .top-heading {
            font-size: 1.0rem;
        }
    }
}

.header-top-news{
    text-align: center;
}

.top-heading-link{
    text-decoration: none;
    color: #000;
    &:hover{
        color: red;
    }
}

.country-top {
    font-size: 2.2rem;
    text-align: left;
    text-decoration: none;
}

.country-top-line{
    background-color: #000;
    border-top: 2px solid #000;
}

.hot-news-content{
    height: 600px;
    // overflow: auto;
}

.aside-image{
    height: 80px;
    object-fit: cover;
}

.aside-news{
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
}