@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
.header-section {
    position: relative;
    background-color: #000;
    &-image {
        opacity: 0.6;
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    &-title {
        font-family: 'Oswald', sans-serif;
        position: absolute;
        text-align: center;
        font-weight: bold;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        font-size: 40px;
        color: white;
        text-shadow: 2px 2px 1px black;
        white-space: nowrap;
    }

    &-br {
        display: none;
    }
}

.country-section {
    margin-bottom: 60px;
    padding-bottom: 30px;

    &:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &-heading {
        font-size: 2.2rem;
        text-align: left;
        text-decoration: none;
        position: relative;
        margin-left: 24px;

        &::before {
            content:"";
            display:inline-block;
            width:12px;
            height:40px;
            background-color:#052962;
            position:absolute;
            top:-2px;
            left: -24px;
        }
    }
}

.top-news {

    &-heading {
        font-size: 1.7rem;
        height: 98px;
        //This below part is to hold sentences when there are many sentences//
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3;
        -webkit-box-orient: vertical;
        & a{
            text-decoration: none;
            color: #000;
            &:hover {
                color: red;
            }
        }
    }

    &-description {
        font-size: 1.1rem;
        height: 112px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
                line-clamp: 4;
        -webkit-box-orient: vertical;
        }

    &-image {
        height: 260px;
        object-fit: cover;
    }
}

.aside {
    &-title {
        border-bottom: 1px solid #999;
    }
    &-news {
        &-image {
            width: 35%;
            margin-right: 12px;
            @media (max-width: 1200px) {
                display: none;
            }
            & img {
                height: 80px;
                object-fit: cover;
            }
        }
        &-content {
            width: 65%;
            @media (max-width: 1200px) {
                width: 100%;
            }
            &-heading {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 992px) {
    .top-news {

        &-heading {
            font-size: 1.1rem;
            height: 63.5px;
        }

        &-description {
            font-size: 1.0rem;
            height: 128px;
            -webkit-line-clamp: 5;
                line-clamp: 5;
        }
        &-image {
            height: 250px;
        }
    }
}

@media (max-width: 768px) {
    .header-section {
        &-title {
            font-size: 30px;
            text-align: left;
            left: 35%;
            top: 65%;
        }

        &-br {
            display: block;
        }
    }

    .top-news {
        &-image {
            height: 220px;
        }

        &-heading {
            height: auto;
        }

        &-description {
            height: auto;
        }
    }
}

