.label-width{
    width: 80px;
    margin-bottom: 0 ;
}

.form-width{
    width: calc(100% - 80px);
}

.publish-col{
    display: flex;
    padding-left: 24px;
    margin-top: 16px;
    align-items: center;
}

.error-message{
    color: red;
    font-size: small;
    margin-left: 108px;
}

.select-size{
    min-width: 200px;
}

.upload-icon{
    border: 1px solid #ccc; 
    border-radius:5px; 
    cursor: pointer;
}

.upload-input{
    display: none;
}

.container-width{
    width: 75%;
}

.form-check-input{
    position: relative;
    top: 3px;
}

@media (max-width: 1100px) {
    .container-width{
        width: 80%;
    }
}

@media (max-width: 992px) {
    .container-width{
        width: 100%;
    }
}