#wrapper {
    overflow-x: hidden;
    }
    
    #sidebar-wrapper {
        min-height: 100vh;
        margin-left: -15rem;
        transition: margin 0.25s ease-out;
    }
    
    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }
    
    #sidebar-wrapper .list-group {
        width: 15rem;
    }
    
    #page-content-wrapper {
        min-width: 100vw;
    }
    
    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: 0;
    }
    
    @media (min-width: 1200px) {
        #sidebar-wrapper {
        margin-left: 0;
        }
    
        #page-content-wrapper {
        min-width: 0;
        width: 100%;
        }
    
        body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
        }
    }

.sidebar{
    background-color:#052962;
}

nav{
    background-color:#052962;
}

.list-group{
    margin-top: 50px;
    
    .list{
        padding-left: 70px;
    }

    .list-group-item{
        border: none; 
        background-color:#052962;
        text-align: start;    
    }

    a {
        
        color:white;
        position: relative;
        text-decoration: none;
        }
        
        a::before {
        content: '';
        position: absolute;
        margin-left: 60px;
        width: 75%;
        height: 1px;
        border-radius: 1px;
        background-color:white;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
        }
        
        a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
        }
        
}

