table{
    border: 1px solid #dad8d8; 
    border-radius: 6px; 
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 24px;

    thead{
        background-color:#e6e9eb; 
        font-size:12px;
        text-align: center;
        color: #696a6b;
        
    }
    
    tbody{
        font-size: 12px;
        background-color: white;
        td{
            text-align: center;
            vertical-align:middle;
            word-break: break-word;
            word-wrap: break-word;

        }

        .day-of-week{
            font-size: 10px;
        }
        
        .country-width{
            min-width: 130px; 
            padding:0 10px;
            white-space: nowrap;
            text-align: start;
            margin: 0 auto;
            word-break: break-all;
            word-wrap: break-word;
        }
        .news-image{
            height:50px; 
            width:50px; 
            object-fit:cover;
        }

        .title{
            min-width:300px; 
            text-align: start;
            white-space: normal;
        }
        
        .comment-body{
            min-width:300px; 
            width:400px;
            text-align: start;
            white-space: normal;
        }
        .avatar{
            width:32px; 
            height:32px;
            object-fit:cover; 
            border-radius: 50%;
            display: block;
            margin-right: 4px;
        }
        .username-width{
            min-width: 150px;
        }

        
        .user-width{
            min-width: 200px;

        }

        .email-width{
            min-width: 200px;
        }

        .user-icon-size{
            font-size: 32px;
            margin-right: 4px;
        }

        .avatar-name-align{
            display: flex;
            text-decoration: none;
            color: black;
            align-items: center;

        }

        .badge-height{
            height: 17px;
        }
    
        .badge{
            opacity:0.8; 
            font-size:10px;
            height: 17px;
        }
        
        .action-size{
            font-size: 12px;
        }
        
        .flag{
            width: 18px;
        }
    }

    .modal-avatar{
        width:48px; 
        height:48px;
        object-fit:cover; 
        border-radius: 50%;
    }
}

.pagination
{
    background-color: white;
}

